/* Some Sections might be reduntant but they are added for easy enhancements at 
  particular sections and making further addition of features easy  */
*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
         /*  ___________HEADER SECTION  -HOME PAGE___________       */
#header
{
    height:100vh;
    background-image:url(background.png);
    background-position:right;
    background-size: cover;
}



.container
{
    margin-right:100px;
    margin-left:100px;
}

.headertext
{
    max-width:350px;
    margin-top:140px;
}
h1{
    font-size: 34px;
}
.square
{
height:12px;
width:12px;
display:inline-block;
background: #f67c92;
margin:15px 0;
}
                  /*           ______COMMON BUTTON________ */
.common-btn
{
    padding:9px 20px;
    background:transparent;
    outline:none;
    border:2px solid #f67c92;
    font-weight:bold;
    cursor:pointer;

}
.common-btn:hover{
    background-color: #f67c92;
}

p{
    font-size:15px;
    line-height: 18px;
    color:#777;
}
.headertext button{

margin-top:20px;
margin-bottom: 60px;
}
.line1
{
    width:15px;
    height:15px;
  background: #f67c92;
  display:inline-block;
}
.line2
{
    width:80px;
    height:1px;
  background: #f67c92;
  display:inline-block;
}
.line3  
{
    width:60px;
    height:1px;
  background: #f67c92;
  display:inline-block;
}
.line{
    line-height:8px;
}

#sidenav{
    width:250px;
    height:100vh;
    position:fixed;
    right:-250px;
    top:0;
    background:#f67c92;
    z-index: 2;
    transition:0.5s;
}
                   /*   __________HEAD CONTENT FLEX___________ */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #fab3c4;
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1; */
    width: 80%;
    margin-top:5px;
    /* margin-bottom:20px; */
    padding-bottom:20px;
    padding-top:8px;
    margin-left:15px;
    /* margin-right:15px; */
    margin-bottom: 10px;
    text-align: center;
    line-height: 50menupx;
    font-size: 20px;
    
  }
  a:link{
      color: black;
      text-decoration: bold;
      font-weight: bolder;

  }
  a:visited{
    color: black;
    text-decoration: bolder;
  }
  a:hover{
      color:blue;
      
  }
nav ul li{

    list-style: none;
    margin:50px 20px;
}
nav ul li a{
    text-decoration:none;
    color:white;
}

                        /* ___________MENU BUTTON FOR SIDE NAV BAR______ */
#menubutton
{
     width:40px;
     position:fixed;
     right:20px;
     top: 55px;
     z-index:2;
     padding:10px;
     cursor:pointer;

}

          /*      ________ ABOUT AND OFFERS SECTION__________       */


#about,#offer{
    padding:100px 0;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
}
.about-left-col{
    flex-basis:50%;
}
.about-left-col img{
    width:100%;
}
.about-right-col {
    flex-basis:50%;
    text-align:right;
}
.about-text{
    max-width:500px;
    margin-right:100px;
    display:inline-block;
}
.about-text h2{
   margin:50px 0px 10px;
   font-size:28px;
   font-style:italic;
}
.about-text h3{
    color: #797977;
    font-size:20px;
    font-style:italic;
}
#features{
    padding-top:50px;
    padding-bottom: 50px;
}
.feature-row{
    width:80%;
    margin:auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis:25%;
    text-align:center;
}
.feature-col img{
    width:100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size:20px;
}
.feature-button 
{  margin:80px auto 0;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-button line{
text-align:right;
display:inline-block;
margin-right:25px;

}
     /*        ___________ ABOUT AND OFFER SECTION COMPLETED _________       */



            /*         _______COURSE SECTION________       */
.course-row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
}
.courseRight-col{
    flex-basis: 50%;

}
.courseRight-col img{
    width:100%;
}
.courseleft-col{
    flex-basis:50%;

}
.course-text{
    width:350px;
}
.course-text button{
    margin:30px 40px;
    align-items: left;
}

        /*       __________COURSE SECTION COMPLETED___________      */



                 /*          OFFER SECTION BUTTON          */


#offer button
{
 margin:30px 0px;
} 
           /*      _________OFFER SECTION BUTTON_______      */



          /*       _________CONTACT US SECTION________       */

.contact-row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.contact-left-col{
    flex-basis:50%;
}
.contact-right-col{
    flex-basis:50%;
}
.contact-right-col img{
    width:100%;

}
form
{
    max-width: 350px;
    margin:30px 0px;
}
form input{
    width:100%;
    padding:12px 10px;
    margin-bottom:5px;
    outline:none;
    box-shadow:none; 
    box-sizing:border-box;
    border:2px solid #f67c92;
}
btn-box{
    width:100%;
    display: flex;
    justify-content:space-between;
}
btn-box button{
    flex-basis: 48%;
    padding:18px 0px;

}

          /*   _________CONTACT SECTION COMPLETED________    */



                  /* _______FOOTER SECTION___________  */


#footer
{
    padding:50px  0px 30px;
}
hr{
    width:100%;
    border:0px;
    border-top:1px solid;
    color:#f67c92;
}
.footer-row{
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-left-col{
    flex-basis:50%;
    margin-top:60px;
}
.footer-right-col{
    flex-basis:35%;
}
.footer-links{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;

}
.link-title h4{
    color:#fab3c4;
    margin-bottom:20px;
}
.link-title small{
    font-size:13px;
    color:#777;
}
.footer-info
{
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-logo img{
    width:100px;

}
.footer-logo button{
padding:12px 38px;
margin-top:20px;
font-size:10px;
}
.copyright-text,.footer-logo{
    flex-basis:40%;

}


                  /*       ______FOOTER SECTION COMPLETED________      */




                 /*          _____SOCIAL MEDIA ICONS_____      */


.social-icons{

    width:50px;
    position:fixed;
    top:50%;
    left:0;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons img{
    display:block;
    width:20px;
    margin:0 auto 20px;
    cursor:pointer;
}
             /* ___________SOCIAL MEDIA ICONS COMPLETED____       */



/*              !!__________HOME PAGE ENDED___!!                */




/* --------------------COURSE PAGE STARTED -----------------------------------*/

.courses-logo img{
    align-items: center;
    padding-left: 200px;
    width:100px;
    
}
.course_headline{
    padding-top:40px;
    padding-left:70px;
    margin-left:20px;
}

               /*     WEB DEVELOPMENT SECTION          */
#webd
{
    padding: 40px 5px;
    border: 3px solid black;
    border-radius: 10px;
    margin-block-start: 50px;
    margin-left: 40px;
    margin-right:30px;

} 
.webd-row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
   
  padding:5px 5px;
}
.webdRight-col{
    flex-basis: 50%;

}
.webdRight-col img{
    width:100%;
}
.webdleft-col{
    flex-basis:50%;

}
.webd-text{
    width:200px;
    padding-left:10px;
}
.webd-text button{
    margin:30px 40px;
    align-items: left;
}
                 /*     _____WEB-DEVELOPMENT SECTION COMPLETED____         */


                 /* _____ ANDROID DEVELOPMENT SECTION____          */
#android
{
    padding: 40px 5px;
    border: 3px solid black;
    border-radius: 10px;
    margin-block-start: 50px;
    margin-left: 40px;
    margin-right: 30px;
} 
.android-row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
   
    padding:5px 5px;
}
.androidRight-col{
    flex-basis: 50%;

}
.androidRight-col img{
    width:100%;
}
.androidleft-col{
    flex-basis:50%;

}
.android-text{
    width:200px;
    padding-left:10px;
}
.android-text button{
    margin:30px 40px;
    align-items: left;
}


         /*    _________ANDROID DEVELOPMENT SECTION COMPLETED_________ */

 
            /*            _________AI SECTION___________         */
#AI
{
    padding: 40px 5px;
    border: 3px solid black;
    border-radius: 10px;
    margin-block-start: 50px;
    margin-left: 40px;
    margin-right:30px;
} 
.AI-row{
    display:flex;
    align-items:left;
    flex-wrap: wrap;
    
    padding:5px 5px;

}
.AIRight-col{
    flex-basis: 50%;

}
.AIRight-col img{
    width:100%;
}
.AIleft-col{
    flex-basis:50%;

}
.AI-text{
    width:200px;
    padding-left:10px;
}
.AI-text button{
    margin:30px 40px;
    align-items: left;
}
                /*        _____AI SECTION COMPLETED_____           */




                /*          ______CLOUD SECTION_________             */
#cloud
{
    padding: 40px 5px;
    border: 3px solid black;
    border-radius: 10px;
    margin-block-start: 50px;
    margin-left: 40px;
    margin-right:30px;
} 
.cloud-row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
   
    padding:5px 5px;
}
.cloudRight-col{
    flex-basis: 50%;

}
.cloudRight-col img{
    width:100%;
}
.cloudleft-col{
    flex-basis:50%;

}
.cloud-text{
    width:200px;
    padding-left:10px;
}
.cloud-text button{
    margin:30px 40px;
    align-items: left;
}
                    /*   ______CLOUD SECTION COMPLETED______     */



/*-----------------------COURSE PAGE COMPLETED  !!------------------------ ----*/

                /*       ________ABOUT US PAGE___________      */
#header1
{
    height:100vh;
    background-image:url(about_us.png);
    background-position:right;
    background-size:40%;
     background-repeat: no-repeat;
}

.container1
{
    margin-right:100px;
    margin-left:100px;
}
.headertext1
{
    max-width:350px;
    margin-top:140px;
}

        /*           _______ABOUT US PAGE COMPLETED_________           */

/*     MEDIA QUERIES FOR SMALL SCREENS FOR ANDROID PHONES    */

@media only screen and (max-width:770px)
{
    #header{
        background-image:none;
    }
    .container
{
    margin-right:50px;
    margin-left:50px;
}
.logo
{
    margin-top:27px;
   width:70px;
}
.headertext
{
   
    margin-top:100px;
}
h1{
    font-size: 25px;
}
#menubutton
{
     width:40px;
     right:50px;
}
.common-btn
{
    padding:10px 16px;
    
}
.social-icons img{
   
    width:14px;
    margin:15px auto;
    
}
.about-left-col,.about-right-col{
    flex-basis:100%;
}
.about-text{
    
    margin:50px 50px 0px;
    display:inline-block;
}
.about-text h2{
   
   font-size:18px;
   
}
.feature-col{
    flex-basis:100%;
    margin-bottom:20px;
}
.courseleft-col{
    flex-basis:100%;
}
.courseRight-col{
    flex-basis:100%;
    margin-top:70px;
}
.contact-left-col,.contact-right-col{
    flex-basis: 100%;

}
.contact-right-col{
    margin-top:50px;
}
.footer-left-col{
    flex-basis:100%;
}.footer-right-col{
    flex-basis:100%;
}
.link-title{
    flex-basis:50%;
    margin-bottom:30px;
}
}



/*   MEDIA QUERIES FOR VERY SMALL PHONES LIKE SMALL JIO PHONES          */


@media only screen and (max-width:320px)
{
    #header{
        background-image:none;
    }
    .about-left-col img{
        display: none;
    }

    .container
{
    margin-right:20px;
    margin-left:20px;
}

.logo
{
    margin-top:20px;
   width:50px;
}
.headertext
{
   
    margin-top:50px;
}
h1{
    font-size: 20px;
}
#menubutton
{
     width:40px;
     right:50px;
}
.common-btn
{
    padding:10px 16px;
    
}
.social-icons img{
   
    width:10px;
    margin:15px auto;
    
}
.about-left-col,.about-right-col{
    flex-basis:100%;
}
.about-text{
    
    
    margin-top: 90px;
    display:inline-block;
}
.about-text h2{
   
   font-size:16px;
   
}
.feature-col{
    flex-basis:100%;
    margin-bottom:20px;
}
.courseleft-col{
    flex-basis:100%;
}
.courseRight-col{
    flex-basis:100%;
    margin-top:70px;
}
.contact-left-col,.contact-right-col{
    flex-basis: 100%;

}
.contact-right-col{
    margin-top:50px;
}
.footer-left-col{
    flex-basis:100%;
}.footer-right-col{
    flex-basis:100%;
}
.link-title{
    flex-basis:50%;
    margin-bottom:30px;
}

}

/*------------------------MEDIA QUERIES COMPLETED_____!!--------------------------  */